<header>
<div class="mobile-ribbon-spacer"></div>
<section class="header">
    <div class="header__content">
        <div class="header__content--identify">
            <div class="header__content--logo" data-image="custom">
                <a href="https://www.sfu.ca/big-data.html">
                    <div class="sfu-brand-logo">
                        <img class="desktop" src="https://www.sfu.ca/etc/designs/clf/clientlibs/clf4/default/img/SFU@2x.png" alt="">
                    </div>
        <!-- comment ->  -->
                    <!-- <div class="non-branded-logo">
                        <img class="desktop" src="https://www.sfu.ca/" alt="">
                        <img class="mobile tablet" src="https:/www.sfu.ca/" alt="">
                    </div> -->
        <!--  <- comment -->
                </a>
            </div>
        <!-- comment ->  -->
            <!-- <div class="header__content--site-title">  <h1 class="main-site-name">
                <a href="https://www.sfu.ca/big-data.html"> SFU's Big Data Hub </a>
            </h1>
        </div> -->
        <!--  <- comment -->
        <div class="sfu-brand-extension-logo">  <a href="https://www.sfu.ca/big-data.html">
            <img class="desktop" src="https://www.sfu.ca/content/dam/sfu/images/brand_extension/SFU-Big-Data_Logo.png" alt="" style="max-width: 370px;">
            <img class="mobile tablet" src="https://www.sfu.ca/content/dam/sfu/images/brand_extension/SFU-Big_Data-Mobile_Logo.png" style="max-width: 150px;">
        </a>  </div>
    </div>
</div>
</section>
</header>